<p><%=user.name%>，您好</p>
<p>
	歡迎加入<a href="<%=hostname%>" target="_blank">【照服秘笈】</a><br>
	登入網站後，您將可以使用以下功能：<br>
	+ 新增照護案例<br>
	+ 提供案例解方<br>
	+ 針對案例留言互動<br>
	+ 連結不同專長的照護專業人士<br>
	+ 未來更多其他功能
</p>
<p>感謝您的參與，您所付出的每份心力，都會引領台灣邁出更幸福的一步。</p>