//color for omaha category
.cat-D1{
	background-color: #FFA5A4;
}
.cat-D2{
	background-color: #DEE885;
}
.cat-D3{
	background-color: #85CAE8;
}
.cat-D4{
	background-color: #C089E8;
}

//color for care service category
.cat-A{
	background-color: #FFA5A4;
}
.cat-B{
	background-color: #FFDE9C;
}
.cat-C{
	background-color: #DEE885;
}
.cat-D{
	background-color: #9FFFBC;
}
.cat-E{
	background-color: #85CAE8;
}
.cat-F{
	background-color: #AF93FF;
}
.cat-G{
	background-color: #C089E8;
}
.cat-O{
	background-color: #FF8AE7;
}