@import "./responsive.scss";
@import "./omaha.scss";

$bt-fg-color: #ffffff;
$bt-bg-color: #555555;
$bt-hover-color: #888888;
$action-fg-color: #ff8888;
$action-bg-color: #ffffff;
$action-hover-color: #ff3333;
$trans-time: 0.5s;

//===================General======================
html, body {
	height: 100%; margin: 0; padding: 0; 
	overflow: visible;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.center{
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.hide{
	display: none;
}

.warning{
	color: red;
}

.bold{
	font-weight: bold;
}

//===================CareTips======================
.main-container{
	width: 100%;
	margin: 80px auto 20px auto;
	padding: 10px 10px 50px 10px;
	color: #333333;
	.title{
		font-size: 1.5em;
		text-align: center;
		color: rgb(255,0,0);
	}
}

.care-tips{
	.owner-info{
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		align-items: center;
		border-bottom: 1px solid #ffffff;
		border-radius: 5px 5px 0px 0px;
		padding: 10px;
		.owner-icon{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			margin: 0px 5px 0px 0px;
		}
	}
	.owner-desc{
		white-space: pre-wrap;
		padding: 10px;
	}

	.input-bt{
		display: inline-block;
		color: $bt-fg-color;
		padding: 10px 20px;
		margin: 5px;
		background-color: $bt-bg-color;
		cursor: pointer;
		border-radius: 3px;
		&:hover{
			background-color: $bt-hover-color;
		}
	}
	.action-bt{
		color: $action-fg-color;
		border: 1px solid $action-fg-color;
		border-radius: 5px;
		padding: 5px 10px;
		margin: 5px;
		cursor: pointer;
		&:hover{
			color: $action-hover-color;
			border: 1px solid $action-hover-color;
		}
	}

	.feedback-statistic{
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		align-items: center;
		padding: 5px 10px;
		color: #888888;
		.container{
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-items: center;
			padding: 5px;
		}
		.clickable{
			cursor: pointer;
			&:hover{
				border-bottom: 2px solid $action-fg-color;
				-webkit-filter: brightness(80%);
				filter: brightness(80%);
			}
		}
		.feedback-icon{
			width: 25px;
			height: 25px;
		}
		.feedback-num{
			padding: 0px 10px;
		}
		
	}

	.inform-message{
		width: 100%;
		background-color: #aaaaaa;
		color: #ffffff;
		text-align: center;
		padding: 10px;
		position: fixed;
		left: 0px;
		height: 40px;
		top: -40px;
		z-index: 99;
		-webkit-transition: top $trans-time ease;
    	transition: top $trans-time ease;
		&.show{
			top: 0px;
		}
	}

	.message-box{
		border: 1px solid #cccccc;
		border-radius: 5px;
		padding: 10px;
		textarea{
			border: none;
			outline: none;
			width: 100%;
			height: 60px;
			resize: none;
			font-size: 1.1em;
		}
		.bt-container{
			display: flex;
			justify-content: flex-end;
			flex-wrap: wrap;
			align-items: center;
			.bt{
				display: inline-block;
				float: right;
				color: $bt-fg-color;
				padding: 5px 10px;
				margin: 0px;
				background-color: $bt-bg-color;
				cursor: pointer;
				border-radius: 3px;
				&:hover{
					background-color: $bt-hover-color;
				}
			}
		}
		
	}

	.input-panel{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		padding: 10px;
		background-color: rgba(50,50,50,0.8);
		z-index: 10;
		overflow-x: hidden;
		overflow-y: hidden;
		.panel-title{
			font-size: 1.5em;
			text-align: center;
			margin: 20px;
		}
		.input-area{
			max-height: 100%;
			overflow-y: auto;
			position: relative;
			background-color: #eeeeee;
			border-radius: 5px;
			width: 800px;
			max-width: 100%;
			margin: auto;
			padding: 10px;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			.input-item{
				margin: 10px;
			}
			.input-label{
				font-size: 1.2em;
				display: inline-block;
			}
			select{
				padding: 5px;
				max-width: 100%;
			}
			.close-bt{
				position: absolute;
				top: 10px;
				right: 10px;
				font-size: 1.2em;
				cursor: pointer;
				padding: 5px 10px;
				color: $action-fg-color;
				border: 1px solid $action-fg-color;
				border-radius: 5px;
				&:hover{
					color: $action-hover-color;
					border: 1px solid $action-hover-color;
				}
			}
		}
	}

	.tab-bar{
		position: fixed;
		left: 0px;
		bottom: 0px;
		width: 100%;
		background-color: rgba(100,100,100,0.9);
		display: flex;
		justify-content: center;
		align-items: center;
		.tab-bt-container{
			display: flex;
			overflow-x: auto;
			padding: 10px;
		}
		.tab-bt{
			min-width: 90px;
			cursor: pointer;
			padding: 5px 10px;
			background-color: $bt-fg-color;
			color: $bt-bg-color;
			border: 1px solid $bt-bg-color;
			border-radius: 5px;
			margin: 0px 10px;
			&:hover{
				color: $bt-hover-color;
				border: 1px solid $bt-hover-color;
			}
			&.on{
				color: $action-fg-color;
				border: 1px solid $action-fg-color;
			}
		}
	}
}