
//==============Responsive================
$pc-media: 1024px;
$pad-media: 640px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
@mixin pad-width() {
    @media only screen and (min-width: $pad-media) {
        @content;
    }
}

.half-w{
	display: inline-block;
	vertical-align:middle;
	margin: 10px 0px;
	width: 100%;
	@include pad-width(){
		width: calc(50% - 20px);
		margin: 10px;
	}
}
.full-w{
	display: block;
	margin: 10px 0px;
	width: 100%;
}
//===================General======================
html, body { 
  height: 100%; margin: 0; padding: 0; 
  overflow: visible;
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.center{
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.hide{
	display: none;
}

.warning{
	color: red;
}

.bold{
	font-weight: bold;
}

//===================CareTips======================
.main-container{
	width: 100%;
	margin: 80px auto 20px auto;
	padding: 10px 10px 50px 10px;
	color: #333333;

	.title{
		font-size: 1.5em;
		text-align: center;
		color: rgb(255,0,0);
	}
}

.care-tips{
	
}