

.problem-cat{
	background-color: #f8f8f8;
	padding: 0px 0px 10px 0px;
	margin: 10px auto;
	border-radius: 5px;
	.problem-header{
		margin: 0px auto;
		font-size: 1.2em;
		text-align: left;
		padding: 10px;
		background-color: #dddddd;
		border-radius: 5px 5px 0px 0px;
	}
	.problem-container{
		padding: 0px;
	}
	.problem-item{
		border-radius: 5px;
		&.select{
			border: 1px solid red;
		}
		.problem-title{
			padding: 10px;
			border-bottom: 1px solid #eeeeee;
		}
		.problem-desc{
			white-space: pre-wrap;
			padding: 10px;
		}
		.problem-body{
			color: black;
		}
		.item-bt-container{
			padding: 10px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-wrap: wrap;
		}
		.item-bt{
			display: inline-block;
			margin: 0px 0px 0px 10px;
			padding: 5px 10px;
			cursor: pointer;
			background-color: #eeeeee;
			color: #333333;
			border-radius: 3px;
			&:hover{
				background-color: #ffffff;
			}
		}
		.target-info{
			padding: 5px 10px;
			color: #555555;
		}
	}
}
