$pc-media: 1024px;
$pad-media: 640px;

@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
@mixin pad-width() {
    @media only screen and (min-width: $pad-media) {
        @content;
    }
}

.one-third-w{
	display: inline-block;
	vertical-align:middle;
	margin: 10px 0px;
	width: 100%;
	@include pad-width(){
		width: calc(50% - 20px);
		margin: 10px;
	}
	@include pc-width(){
		width: calc(33% - 20px);
		margin: 10px;
	}
}

.half-w{
	display: inline-block;
	vertical-align:middle;
	margin: 10px 0px;
	width: 100%;
	@include pad-width(){
		width: calc(50% - 20px);
		margin: 10px;
	}
}
.full-w{
	display: block;
	margin: 10px 0px;
	width: 100%;
}