$bt-fg-color: #ffffff;
$bt-bg-color: #555555;
$bt-hover-color: #888888;
$action-fg-color: #ff5555;
$action-bg-color: #ffffff;
$action-hover-color: #ff8888;
$trans-time: 0.5s;

$pc-media: 1024px;
$pad-media: 640px;

$vue-transition: 0.5s;
